[project]
	description = Lustre releases
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	read = group Anonymous Users
	read = group Registered Users
	read = group ReplicationAuth
	create = group lustre-mirror
	create = group lustre-submitters
	forgeAuthor = group lustre-mirror
	forgeAuthor = group lustre-submitters
	forgeCommitter = group lustre-mirror
	forgeCommitter = group lustre-submitters
	push = group lustre-mirror
	push = group lustre-submitters
	pushTag = group lustre-mirror
	pushTag = group lustre-submitters
	abandon = group lustre-admin
	editTopicName = group lustre-submitters
	pushSignedTag = group lustre-mirror
	pushSignedTag = group lustre-submitters
	rebase = group intel-developers
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group lustre-approvers
	label-Verified = -1..+1 group intel-developers
	label-Verified = -1..+1 group lustre-verifiers-external
	submit = group lustre-submitters
[access "refs/for/refs/heads/*"]
	push = group Registered Users
[access "refs/heads/dne2"]
	submit = group dne2-submitters
[access "refs/heads/multi-rail"]
	push = +force group multi-rail-submitters
	label-Code-Review = -2..+2 group multi-rail-submitters
	submit = group multi-rail-submitters
	abandon = group multi-rail-submitters
	forgeAuthor = group multi-rail-submitters
	pushTag = group multi-rail-submitters
	rebase = group multi-rail-submitters
