[project]
	description = Lustre releases
	state = active
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	read = group Anonymous Users
	read = group Registered Users
	create = group lustre-mirror
	create = group lustre-submitters
	forgeAuthor = group lustre-mirror
	forgeAuthor = group lustre-submitters
	forgeCommitter = group lustre-mirror
	forgeCommitter = group lustre-submitters
	push = +force group lustre-mirror
	push = +force group lustre-submitters
	pushTag = group lustre-mirror
	pushTag = group lustre-submitters
	abandon = group lustre-admin
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group lustre-approvers
	label-Verified = -1..+1 group whamcloud-developers
	submit = group lustre-submitters
[access "refs/for/refs/heads/*"]
	push = group Registered Users
